* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    justify-content: center;
}
.bg3{
    background-color: #fff;
    width: 630px;
    height: 288px;
    border-radius: 2%;
    box-shadow: 5px 10px black;
    padding: 10px;
    border: 1px solid;
}